@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: oklch(0.5921 0.1672 20.1);
  --color-background: var(--app-background);
  --color-foreground: var(--app-foreground);
}

:root {
  --app-background: #fffff0;
  --app-foreground: #000000;
}

.dark {
  --app-background: #000000;
  --app-foreground: #ffffff;
}

button {
  @apply hover:cursor-pointer;
}

body {
  background-color: var(--app-background);
  color: var(--app-foreground);
}


textarea:focus, input:focus{
    outline: none;
}
